.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.beer-card {

  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25%;
  min-width: 200px;
  -webkit-box-shadow: 10px 6px 37px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: 10px 6px 37px 1px rgba(0,0,0,0.46);
  box-shadow: 10px 6px 37px 1px rgba(0,0,0,0.46);
}

.beer-card-header {
  border-bottom: solid grey 1px;
  display: flex;
  flex-direction: column;
}

.beer-name {
  justify-content: center;
  color:black;
  display: flex;
  font-size: 2em;

}

.beer-stats {
  display: flex;
  flex-direction: column;
}

.brewery-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.beer-stats-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brewery-single-stat {
  display: flex;
  flex-direction: column;
}

.beer-single-stat {
  display: flex;
  display: row;
}

.beer-stat-header {
  font-size: 1em;
  margin-right: 6px;
}

.beer-stat-data {
  font-size: 1em;
}

.beer-type {

  justify-content: center;

  color: grey;
  display: flex;
  font-size: 1.25em;

}

.beer-abv {
  align-items: flex-end;
  display: flex;
  font-size: 1em;
}

.beer-abv-label {
  font-size: 1em;
}



.beer-info {
  display: flex;
  flex-direction: column;
  padding: 25px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.beer-desc {
  text-align: left;
  font-size: 1.25em;
}

.beer-taste {
  color: black;
  padding-left: 20px;
  text-align: left;
  font-size: 1.5em;
}

.input-group {
  padding: 25px;
}

.beer-label {

  border: solid black 2px;

  max-width: 100%;
  max-height: 100%;
}

.abv-area {
  display: flex;
  flex-direction: row;
}